$border-color: #e0e0e0;
$active-link-color: #388e3c;
$sidebar-width: 240px;
$header-height: 50px;

header.body-header {
  nav {
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    height: $header-height;
    line-height: $header-height;

    padding-left: 10px;
    padding-right: 10px;
    display: flex;

    a {
      text-decoration: none;
      color: #333333;
      text-transform: uppercase;
      font-family: 'Helvetica Neue', 'Arial', sans-serif;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 14px;

      &.active {
        font-weight: bold;
        color: $active-link-color;
        border-bottom: 2px solid $active-link-color;
        height: 48px;
      }
      &:hover {
        color: $active-link-color;
      }
      &.right {
        margin-left: auto;
      }
      &.logo {
        padding: 5px;
      }
    }
  }
}

main {
  section.with-sidebar {
    border-top: 1px solid $border-color;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: calc(100vh - $header-height - 1px);

    aside.kea-sidebar {
      display: block;
      width: $sidebar-width;
      border-right: 1px solid $border-color;
      box-sizing: border-box;
      padding: 10px;
      float: left;
    }

    .content.with-sidebar {
      display: block;
      flex-grow: 2;
      max-width: calc(100% - $sidebar-width);
    }

    @media (max-width: 767px) {
      display: block;

      aside.kea-sidebar {
        width: 100%;
        border-right: none;
      }
      .content.with-sidebar {
        max-width: 100%;
        padding-top: 20px;
      }
    }
  }
}


aside.kea-sidebar {
  nav {
    .section-title {
      font-weight: strong;
      display: block;
      padding-left: 10px;
      margin-top: 20px;
    }

    ul {
      list-style: none;
      padding-left: 10px;
      padding-bottom: 10px;

      li {
        display: block;
        margin-bottom: 10px;
        a {
          color: #333;
          text-decoration: none;
          &.active {
            color: $active-link-color;
            text-decoration: underline;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
