.homepage-scene {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;

  h1 em {
    border-bottom: 1px dashed #888;
    cursor: pointer;
  }

  .slider-container {
    max-width: 500px;
    margin: 0 auto;
  }

  h2 {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0;
  }

  .split {
    display: flex;
    width: 100%;
    .description {
      flex: 1 auto;
      margin-left: 0;
      .demo {
        margin: 0;
      }
    }
    .code {
      width: 650px;
      min-width: 650px;
      pre {
        margin: 0;
      }
    }
    @media (max-width: 959px) {
      display: block;
      .description {
        margin-left: 20px;
      }
      .code {
        width: auto;
        min-width: auto;
      }
    }
  }

  .landing {
    border-bottom: 1px solid #ccc;
    background: #388e3c;
    padding: 120px 40px 120px 40px;
    color: #fff;

    a {
      color: #fff;
    }

    .intro {
      margin: 0 auto;
      max-width: 700px;
      min-height: 150px;

      img {
        float: left;
        margin-right: 20px;
        height: 150px;
        width: 150px;
      }

      .text {
        margin-left: 170px;
        h1 {
          margin-top: 0;
          padding-top: 10px;
          margin-bottom: 0;
          font-weight: 400;
          font-size: 44px;
        }
        strong {
          display: block;
          font-weight: 300;
          font-size: 24px;
          margin-bottom: 20px;
          margin-top: 10px;
        }
      }
    }
    @media (max-width: 520px) {
      padding: 80px 20px 80px 20px;

      .intro {
        text-align: center;
        img {
          float: none;
          margin-right: 0;
        }
        .text {
          margin-left: 0;
        }
      }
    }
  }
}
