body {
	background: #ffffff;
	margin: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

a {
	color: green;
}

code {
	background: #f8f8f8;
	padding: 2px;
}

.code {
	text-align: left;
	margin: 20px;
}

.description {
	text-align: left;
	margin: 20px;
}

.example {
	margin: 20px;
}

h2 {
	margin-top: 40px;
}

.demo {
	background: #f0f0f0;
	// box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
	padding: 20px;
	margin: 20px 0;
}

.extra-help {
	background: #ffffdd;
	// box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
	padding: 20px;
	margin: 20px 0;
}

.hljs {
	// box-shadow: 2px 2px 4px rgba(0,0,0,0.25);
}

.api-scene {
  margin: 20px;
}
