body {
	background: #f5f5f5;
	margin: 0;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

.code {
	text-align: left;
	margin: 20px;
}

.description {
	text-align: left;
	margin: 20px;
}

.example {
	margin: 20px;
}

h2 {
	margin-top: 40px;
}

.demo {
	background: #fff;
	border: 1px solid #888;
	padding: 20px;
	margin: 20px 0;
}
